.Landing {
  font-family: "Pokemon Solid Normal";
  color: #feca1b;
  -webkit-text-stroke: 1px #3761a8; /* width and color */
  //   background-color: green;
  display: flex;
  text-align: center;
  align-items: flex-end;
  justify-content: center;
  height: 35vh;
}
