@font-face {
  font-family: "Pokemon Solid Normal";
  src: url("./assets/fonts/pokemonsolid.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pokemon Text Normal";
  src: url("./assets/fonts/pokemontext.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
